/* source-sans-pro-regular - latin */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* ajout d'un commentaire */

header {

    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;


}


#logo {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2rem;

}

#myColor {
    color: red;
}

@media(max-width: 768px) {
    .navbar-brand {
        padding-left: 4%;
    }
}