/* source-sans-pro-regular - latin */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/* ajout d'un commentaire */


.container-fluid {
    position: fixed;
    top: 0px;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro';

}


#logo {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#myColor {
    color: red;
}

.navbar-toggler {
    background-color: white;

}

@media (min-width: 768px) {
    #logo {}

    .container-fluid {
        position: static;
    }
}