.btn {
    background-color: #A9A9A9;
    float: right;
    border: none;
}

.btn:hover {
    background-color: #DCDCDC;
}

.btn:active {
    background-color: black;

}

h1 {
    margin-left: 22px;
}

.container {
    margin: auto;
    max-width: 60%;
}

@media (min-width: 768px) {
    h1 {
        margin-left: 162px;
    }
}

.requiredStar::after {
    font-weight: bold;
    color: red;
    content: " *";
}