.btn-primary {
    background-color: #A9A9A9;
    border: none;
    width: 100%;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #DCDCDC;
}

.btn-primary:focus {
    background-color: black;
    box-shadow: none !important;
}

h1 {}

.container {
    margin: auto;
    max-width: 50%;
}

@media (min-width: 768px) {
    h1 {}

    .btn-primary {
        width: fit-content;
        float: right;
    }
}



.requiredIcon::after {
    color: #CD5C5C;
    font-weight: bold;
    content: " *";
}

.form-control:focus {
    border-color: #A9A9A9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 220, 220, 0.8);
}

main {}