.btn-primary {
    background-color: #A9A9A9;
    width: 100%;
    border: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #34282C;
}

.btn-primary:focus{
    background-color: black;
    box-shadow: none;
}

h1 {
    margin-left: 22px;
}

.container {
    margin: auto;
    max-width: 60%;
}

@media (min-width: 768px) {
    h1 {
        margin-left: 162px;
    }
}

.requiredStar::before{
    color: #CD5C5C;
    font-weight: bold;
    content: " *";
}

.form-control:focus{
    border-color: #DCDCDC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 220, 220, 0.8);
}
main{
    margin-top: 50px;
}