.btn-outline-dark {
    background-color: var(--main-grey-color);
    border-color: var(--main-grey-color);
    float: right;

    color: var(--main-dark-color);
    letter-spacing: 0.1rem;
}

.btn-outline-dark:hover {
    background-color: var(--second-grey-color);
    box-shadow: 0px 0px 5px 4px var(--second-grey-color);
    color: var(--main-dark-color);
}

.btn-outline-dark:focus {
    background-color: var(--second-grey-color);
    box-shadow: 0px 0px 5px 4px var(--second-grey-color) !important;
    color: var(--main-dark-color);
}

.btn-wrap {
    min-width: 120px;
}

main {
    font-family: 'Source Sans Pro', sans-serif;

}

.required::after {
    color: var(--main-red-color);
    font-weight: bold;
    content: " *";
}

.form-control:focus {
    border: none;
    box-shadow: 0px 0px 5px 4px var(--second-grey-color);
}



.form-label {
    font-weight: 600;
}